= link_to new_draft_path, class: 'btn btn-primary btn-ge' do
  span.btn-ge__icon.icon.glyphicon.glyphicon-plus
  = t('actions.add')

br
br

- if @published_events.empty? && @drafts.empty?
  h3
    = t('group_event.not_exists')
- else
  table.table.table-bordered
    thead
      th = t('activerecord.attributes.group_event_attributes.title')
      th = t('activerecord.attributes.group_event_attributes.event_type')
      th = t('group_event.ends_at')
      th = t('activerecord.attributes.group_event_attributes.location')
      th = t('activerecord.attributes.group_event_attributes.description')
      th = t('actions.label')
    tbody
      - @drafts.each do |presenter|
        tr
          td
            = link_to presenter.title, edit_draft_path(presenter.subject)
          td
            span.label.label-primary
              = presenter.label
          td
            = presenter.ends_at
          td
            = presenter.location
          td
            = presenter.description
          td
            = link_to publish_draft_path(presenter.subject), method: :post, class: 'btn btn-sm btn-success btn-ge' do
              span.btn-ge__icon.icon.glyphicon.glyphicon-eye-open
              = t('actions.publish')
            = link_to draft_path(presenter), method: :delete, class: 'btn btn-sm btn-danger btn-ge btn-ge--right',
                data: { confirm: t('actions.confirmation') } do
              span.btn-ge__icon.icon.glyphicon.glyphicon-trash
              = t('actions.delete')

      - @published_events.each do |presenter|
        tr
          td
            = link_to presenter.title, edit_published_event_path(presenter.subject)
          td
            span.label.label-primary
              = presenter.label
          td
            = presenter.ends_at
          td
            = presenter.location
          td
            = presenter.description
          td
            = link_to published_event_path(presenter.subject), method: :delete,
                class: 'btn btn-sm btn-danger btn-ge', data: { confirm: t('actions.confirmation') } do
              span.btn-ge__icon.icon.glyphicon.glyphicon-trash
              = t('actions.delete')
