.form-group
  = f.label :title, class: 'col-sm-2 control-label'
  .col-sm-5
    = f.input :title, label: false, input_html: {class: 'form-control'}
.form-group
  = f.label :location, class: 'col-sm-2 control-label'
  .col-sm-5
    = f.input :location, label: false, input_html: {class: 'form-control'}
.form-group
  = f.label :starts_at, class: 'col-sm-2 control-label'
  .col-sm-5
    = f.input :starts_at, label: false, input_html: {class: 'form-control'}
.form-group
  = f.label :duration, class: 'col-sm-2 control-label'
  .col-sm-5
    = f.input :duration, as: :select, collection: form.duration_collection, label: false, input_html: {class: 'form-control'}
.form-group
  = f.label :description, class: 'col-sm-2 control-label'
  .col-sm-5
    = f.input :description, as: :text, label: false, input_html: {class: 'form-control'}

.form-group
  .actions.col-sm-offset-2.col-sm-10
    = f.button :submit, t('actions.save'), class: 'btn btn-primary'
