.container.content-bottom
  h4
    = "#{ t('actions.edit') } #{ t('activerecord.models.published_event') }"
  br
  = simple_form_for @form, as: :published_event, url: published_event_path(@published_event), method: :put, html: { class: 'form-horizontal' } do |f|
    = render 'published_events/form', form: @form, f: f
