.container.content-bottom
  h4
    = "#{ t('actions.edit') } #{ t('activerecord.models.draft') }"
  br
  = simple_form_for @form, as: :draft, url: draft_path(@draft), method: :put, html: { class: 'form-horizontal' } do |f|
    = render 'drafts/form', form: @form, f: f
