.container.content-bottom
  h4
    = "#{ t('actions.new') } #{ t('activerecord.models.draft') }"
  br
  = simple_form_for @form, as: :draft, url: drafts_path, method: :post, html: { class: 'form-horizontal' } do |f|
    = render 'drafts/form', form: @form, f: f
