doctype html
html
  head
    title = t('label')
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  body
    nav.navbar.navbar-default
      .container.container-fluid
        .navbar-header
          button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
          = link_to t('label'), root_path, class: 'navbar-brand'
    .container
      = flash_messages
      = yield
